body{
     background-color: rgb(255, 255, 255);
}
p{
     text-align: center;
}
strong{
    color: rgb(0, 0, 0);
}
h1{
    text-align: center;
}
.imagem-banner{
    text-align: center;
}.itens {
    font-style: italic;
    text-align: center;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

h2 {
    text-align: center;
}
ul {
    text-align: center;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 45%;
}